<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!-- But, this is what you need for your database -->
	<connectionStrings>
		<add name="MyConnectionString" connectionString="Data Source=MUKAHHAL\SQLEXPRESS; Initial Catalog=student_management_studio;Integrated Security=True"/>
	</connectionStrings>
</configuration>